<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ezShare</title>
</head>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">



<body style="height: 100vh; margin: 0; padding: 0; display: flex; flex-direction: column; align-items: center; background-color: #ebdbbc; justify-content: center; font-family: 'Inter', sans-serif;">
    <h1>ezShare</h1>
    <p>Your files are avaliable at <a href= {{ filesUrl }}> {{ filesUrl }} </a> </p>
    <img src={{qr}} >
    <p>Thank you for using ezShare!</p>


</body>
</html>